@model ImageWidgetClass
@using System.Linq
@using Dyna.Player.Utilities
@using Dyna.Shared.Classes.Components.Layouts
@using Dyna.Shared.Classes.Components.Widgets


<div id="image-widget-@(Model.Id)" data-name="@(Model.Identifier ?? Guid.NewGuid().ToString("N"))" class="@(Model.Classes ?? "")" style="@ConversionUtilities.GenerateCssStyleString(Model.Styles)">
    <img src="@(Model.Source.Url ?? "")" alt="@Model.Identifier" />
</div>